<div class="container">
  <div class="details">
    <div class="row">
      <div class="col-mb-8 col-12 mb-3">
        <img src="" alt="" />
      </div>
      <div class="col-md-3">
        <div class="div">
          <img src="" alt="" />
        </div>
        <div class="div"></div>
      </div>
      <div class="col-md-1">
        <div class="d-flex flex-md-column flex-row">
          <div class="deatils__utilCard mb-3 w-100 p-3">
            <img
              src="../../../assets/images/ba.png.png"
              alt="toilet"
              class="mr-2"
            />
            <span> 4 Beds</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
