<div class="header sticky-top">
  <div class="header__banner py-2 px-5 container-fluid d-none d-md-block">
    <div class="d-flex flex-md-row flex-column justify-content-between">
      <div class="d-flex flex-md-row justify-content-around">
        <p class="header__banner--child pr-3">72 Main Drive, Calibry, FL</p>
        <p class="header__banner--child px-3">inquiry@example.com</p>
        <p class="pl-3">Mon - Fri : 0900 to 1800</p>
      </div>
      <div class="d-flex justify justify-content-around">
        <a href="#">
          <img
            src="/assets/images/icons/facebook.svg"
            alt="icon"
            class="mx-2"
          />
        </a>
        <a href="#">
          <img src="/assets/images/icons/youtube.svg" alt="icon" class="mx-2" />
        </a>
        <a href="#">
          <img
            src="/assets/images/icons/linkedin.svg"
            alt="icon"
            class="mx-2"
          />
        </a>
        <a href="#">
          <img src="/assets/images/icons/twitter.svg" alt="icon" class="mx-2" />
        </a>
        <a href="#">
          <img
            src="/assets/images/icons/instagram.svg"
            alt="icon"
            class="mx-2"
          />
        </a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-block d-md-none" href="#">
      <img class="logo" src="/assets/images/Logo.svg" alt="logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand d-none d-md-block" href="#">
        <img class="logo" src="/assets/images/Logo.svg" alt="logo" />
      </a>
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0 align-items-md-center">
        <li class="nav-item mx-md-4">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home </a>
        </li>
        <li class="nav-item mx-md-4">
          <a class="nav-link" routerLinkActive="active" routerLink="/">About</a>
        </li>

        <li class="nav-item mx-md-4">
          <a class="nav-link" routerLinkActive="active" routerLink="/"
            >Services</a
          >
        </li>
        <li class="nav-item mx-md-4">
          <a class="nav-link" routerLinkActive="active" routerLink="/"
            >Properties</a
          >
        </li>
        <li class="nav-item mx-md-4">
          <a class="nav-link" routerLinkActive="active" routerLink="/"
            >Contact Us</a
          >
        </li>
        <div class="line d-none d-md-block"></div>
        <div class="d-flex">
          <button class="secondaryButton">Login</button>
          <button class="primaryButton">Signup</button>
        </div>
      </ul>
    </div>
  </nav>
</div>
