<div class="cardd w-100">
  <div>
    <img
      loading="lazy"
      src="../../../assets/images/prop.svg"
      class="w-100"
      alt="property"
    />
  </div>
  <div class="d-flex flex-column justify-content-center bg-white p-4">
    <div class="name text-center">Park Avenue apartment</div>
    <p class="text-center">
      <svg
        class="mr-2"
        width="12"
        height="16"
        viewBox="0 0 12 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.53906 15.582C1.26172 9.42969 0.5 8.78516 0.5 6.5C0.5 3.39453 2.99023 0.875 6.125 0.875C9.23047 0.875 11.75 3.39453 11.75 6.5C11.75 8.78516 10.959 9.42969 6.68164 15.582C6.41797 15.9922 5.80273 15.9922 5.53906 15.582ZM6.125 8.84375C7.41406 8.84375 8.46875 7.81836 8.46875 6.5C8.46875 5.21094 7.41406 4.15625 6.125 4.15625C4.80664 4.15625 3.78125 5.21094 3.78125 6.5C3.78125 7.81836 4.80664 8.84375 6.125 8.84375Z"
          fill="#7B7B7B"
        />
      </svg>

      982 Monroe Ave, Rochester NY
    </p>

    <div class="d-flex justify-content-around mb-2">
      <span>
        <img
          src="../../../assets/images/ba.png.png"
          alt="toilet"
          class="mr-2"
        />

        3
      </span>
      <span>
        <img
          src="../../../assets/images/bf.png.png"
          alt="toilet"
          class="mr-2"
        />

        2
      </span>
      <span>
        <img
          src="../../../assets/images/re.png.png"
          alt="toilet"
          class="mr-2"
        />

        44
      </span>
    </div>
    <button class="tetiaryButton mt-4">View</button>
  </div>
</div>
