<div class="parent">
  <div class="container py-5">
    <div class="top-section d-flex justify-content-between">
      <span>
        <img class="mb-3" src="/assets/images/Logo2.svg" alt="app-logo" />
        <br />
        <span class="info">
          Pellentesque, placerat congue at urna risus tincidunt, himenaeos
          pretium fermentum
        </span>
      </span>
      <div class="quick-section">
        <p class="title text-center">
          <strong>Quick Links</strong>
        </p>
        <p class="mb-0">
          <span class="links" routerLink="/partnership"> Terms of Use</span>
          <span class="links" routerLink="/about">About Us</span>
          <span class="links" routerLink="/privacy">Privacy Policy</span>
          <span class="links" routerLink="/terms-and-conditions"
            >Contact Supports</span
          >
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <a class="links pointer mb-0 text-white underline" routerLink="/"
        >Site Admin</a
      >
    </div>

    <div class="copyright-section">
      <p class="mb-0 copyright">&copy; 2024 RealEstate All rights reserved.</p>

      <span class="icon-group">
        <img
          class="pointer social-icon"
          src="/assets/images/icons/twitter.svg"
          alt="twitter-logo"
        />
        <img
          class="pointer social-icon"
          src="/assets/images/icons/linkedin.svg"
          alt="linkedin-logo"
        />
        <img
          class="pointer social-icon"
          src="/assets/images/icons/facebook.svg"
          alt="facebook-logo"
        />
        <img
          class="pointer social-icon"
          src="/assets/images/icons/instagram.svg"
          alt="instagram-logo"
        />
        <img
          class="pointer social-icon"
          src="/assets/images/icons/youtube.svg"
          alt="youtube-logo"
        />
      </span>
    </div>
  </div>
</div>
